:root {
    --font-color: #1f2937;
    --user-bg-color: #cbddfb; /* #52a3ef; /*#3b88c3*/
	--header-bg: #d8f1fc;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", serif;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1f2937;
    letter-spacing: .01428571rem;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    color: #e6851c;
}

.sidenewshdr {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}

.navbar {
    color: #003399;
    background-color: #6d9add;
    font-size: 10px;
    background-color: #abd3f9;
}

.searchlink, .searchlink:hover {
    color: #545454;
    text-decoration: none;
    font-size: 10px;
}

.linkHighlight {
    color: #663300;
    font-weight: bold;
}

.welcomeMsg {
    color: #003399;
    font-size: 12px;
}

a.welcomeLink {
    color: #003399;
    font-size: 12px;
}

    a.welcomeLink:hover {
        color: Yellow;
        font-size: 12px;
        text-decoration: underline;
        line-height: 30px;
    }

.userData {
    background-color: var(--user-bg-color); /*#75afe9;/* #99ccff;*/ /*#52a3ef*/
    line-height: 35px;
    color: #003399;
}

    .userData #txtsearch {
        width: auto;
        background-clip: unset;
        display: inline-block;
        line-height: 20px;
        color: #161414;
        border: solid 1px #74afeb;
        font-size: 12px;
        padding: 3px 5px;
        border-radius: 10px;
        background-color: #fff;
        width: 50% !important;
    }

    .userData #btnSearch {
        line-height: 20px;
        background-color: #1ab0ec;
        color: White;
        border-radius: 10px;
        cursor: pointer;
        border: solid 1px #0facea;
        padding: 3px 5px;
        font-size: 11px;
    }

        .userData #btnSearch:hover {
            background-color: #dc851b;
            border: solid 1px #c77919;
        }

.webpageborder {
    width: 1000px;
    padding: 10px;
    background-color: #fff;
}

.bgVLine {
    background-image: url(../CollegeImages/vbgline.jpg);
    width: 1px;
    background-repeat: repeat-y;
    background-position: center;
}

.tblnew {
    border-collapse: collapse;
}

    .tblnew td, .tblnew th {
        border: 1px solid black;
    }

    .tblnew tr:first-child th {
        border-top: 0;
    }

    .tblnew tr:last-child td {
        border-bottom: 0;
    }

    .tblnew tr td:first-child, .tblnew tr th:first-child {
        border-left: 0;
    }

    .tblnew tr td:last-child, .tblnew tr th:last-child {
        border-right: 0;
    }

.style23 {
    FONT-SIZE: 9px;
    COLOR: #990000;
}

.style24 {
    FONT-SIZE: 12px;
    COLOR: blue;
}

.myBorderBottom {
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.gvHeaderStyle {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #83c2fd;
    color: White;
}

.gvHeaderStyle1 {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    height: 15px;
    background-color: #83c2fd;
    color: White;
}

.gvHeaderStyleSmall {
    font-weight: 600;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #83c2fd;
    color: White;
}

.gvHeaderStyleCellBorder {
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    font-size: 9px;
    font-weight: 600;
}

.MainHead {
    border-bottom-color: #666666;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    font-weight: bolder;
    font-size: 14px;
    height: 20px;
    text-transform: uppercase;
    color: #3e508b;
    font-weight: bold;
}

.LeftMenuHead {
    background-color: #4d82d2;
    font-weight: bold;
    padding: 16px 10px;
    text-transform: uppercase;
    color: White;
    text-align: center;
    font-size: 11px;
}

.gvStyle {
    border-style: solid;
    border-width: 0px;
    border-collapse: collapse;
    font-size: 13px;
    padding: 4px;
}

.hideBoundColumn {
    display: none;
}

.gvItemStyle {
    vertical-align: middle;
}

select, input[type="text"], input[type="password"], textarea {
    margin-top: 2px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: var(--font-color);
    background-color: #fff;
    border: 1px solid #d1d5db;
    padding: 4px 6px;
    min-width: 45%;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

    select:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
        border-color: #2563eb;
        box-shadow: 0 0 0 3px rgba(37,99,235,0.2);
    }

input[type="radio"], input[type="checkbox"] {
    margin: 4px;
    accent-color: #3b82f6;
    cursor: pointer;
}

.txtStyle1 {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
}

a.Download {
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #330033;
    text-decoration: none;
}

    a.Download:hover {
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        color: Black;
    }

a {
    color: #83c2fd;
    text-decoration: none;
}

    a:hover {
        color: #cc3300;
    }

.myAquo {
    font-size: 14px;
    line-height: 18px;
    color: #f86128;
    font-weight: bold;
}

a.management {
    font-size: 11px;
    text-decoration: underline;
    color: #000099;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

    a.management:hover {
        font-size: 11px;
        text-decoration: underline;
        color: #ff0099;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
    }

.style11 {
    font-size: 16px;
    color: #000033;
    font-weight: bold;
}

.style12 {
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
}

.style12withBg {
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
    background-color: #cccccc;
    font-weight: bold;
}

.style20 {
    font-size: 12px;
    color: #000000;
}

.style6 {
    font-size: 9px;
    color: #cccccc;
}

.style7 {
    color: #000000;
}

#Layer1 {
    position: absolute;
    left: 521px;
    top: 226px;
    width: 240px;
    height: 20px;
    z-index: 1;
}

.style8 {
    font-size: 9px;
    color: #000000;
    font-weight: bold;
}

.style1 {
    font-size: 14px;
    font-weight: bold;
    color: #993300;
}

.tdHead {
    background-color: #cccccc;
    font-weight: bold;
    font-size: 12px;
}

.libTable {
    border-color: White;
    border-collapse: collapse;
}

a.leftMenu {
    font-size: 10px;
    line-height: 18px;
    color: Maroon;
    font-weight: bold;
    text-decoration: none;
}

    a.leftMenu:hover {
        font-size: 10px;
        line-height: 18px;
        font-weight: bold;
        color: #cc3300;
    }

.tabStyleDis {
    border: 1px solid #6fb6f2;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #ffffff;
    background-color: #1ab0ec;
    background-image: linear-gradient(to bottom,#1ab0ec,#1a92c2);
    height: 32px;
}

.tabStyle {
    border: 1px solid #15aeec;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #ffffff;
    background-color: #49c0f0;
    background-image: linear-gradient(to bottom,#49c0f0,#2cafe3);
    height: 30px;
}

    .tabStyle:hover {
        border: 1px solid #1090c3;
        background-color: #1ab0ec;
        background-image: linear-gradient(to bottom,#1ab0ec,#1a92c2);
        height: 30px;
    }

.tabCont {
    background-color: #ecf8fb;
    border: solid 1px #6fb6f2;
    border-top: solid 2px #6fb6f2;
    font-size: 12px;
}

.NewtabStyle {
    border: 1px solid #d95700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #ffffff;
    background-color: #ff6600;
    background-image: linear-gradient(to bottom,#ff6600,#f8924c);
    cursor: pointer;
}

    .NewtabStyle:hover {
        border: 1px solid #d95700;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 11px;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
        display: inline-block;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        font-weight: bold;
        color: #ffffff;
        background-color: #fa3109;
        background-image: linear-gradient(to bottom,#fa3109,#f8924c);
        cursor: pointer;
    }

.spnStyle {
    width: 50%;
    border: solid 1px #6fadfb;
    padding: 5px;
    background-color: #c8bfe7;
    margin: 3px;
}

.buttonStyleDis {
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #ffffff;
    background-color: #ccc;
    background-image: linear-gradient(to bottom,#ccc,#2cafe3);
}

.buttonStyle {
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #ffffff;
    background-color: #49c0f0;
    background-image: linear-gradient(to bottom,#49c0f0,#2cafe3);
    margin: 3px;
}

    .buttonStyle:hover {
        border: 1px solid #1090c3;
        background-color: #1ab0ec;
        background-image: linear-gradient(to bottom,#1ab0ec,#1a92c2);
    }

.newbuttonStyle {
    border: 1px solid #d95700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #ffffff;
    background-color: #ff6600;
    background-image: linear-gradient(to bottom,#ff6600,#2cafe3);
    cursor: pointer;
}

    .newbuttonStyle:hover {
        border: 1px solid #1090c3;
        background-color: #1ab0ec;
        background-image: linear-gradient(to bottom,#1ab0ec,#1a92c2);
    }

.spanLink {
    color: Blue;
    font-size: 12px;
    cursor: pointer;
}

.subMainHead {
    font-size: 13px;
    font-weight: bold;
    color: Maroon;
}

.innerTable {
    background-color: #e0f7fd;
    border-width: 1px;
    border-style: solid;
    border-color: #d7e7f4;
}

.frameStyle {
    padding: 0px;
    margin: 0px;
    background-image: url(../NewImages/bg.gif);
}

hr {
    height: 1px;
    border-collapse: collapse;
    color: #eccccc;
}

.profileSubHead {
    font-size: 13px;
    font-weight: bold;
    color: Maroon;
}

.imageHeading {
    font-size: 16px;
    font-weight: bold;
    color: Yellow;
}

.popupTable {
    background-color: #ecf8fb;
    border: solid 1px #6fb6f2;
    font-size: 12px;
}

    .popupTable tr > td {
        padding: 5px;
    }

.bodyStyle {
    background-color: #d1dceb;
    margin: 0;
}

.popupDiv {
    background-color: #e0f7fd;
    border-width: 1px;
    border-color: #7aa520;
    border-style: solid;
    z-index: 999;
    position: absolute;
}

#divDisableWindow {
    z-index: 99;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: Gray;
    color: #aaa;
    opacity: .5;
    filter: alpha(opacity=50);
}

.linksBG {
    background-color: #89c4ff;/* #ffffff;*/
    color: #52a3ef;
    font-size: 10px;
}

.setBGColor {
    background-color: #26a0da;
    color: White;
}

.bgLine {
    background-image: url(../CollegeImages/linebg.jpg);
    border-bottom: solid 1px #ccc;
}

.newsBG {
    background-image: url(../CollegeImages/mainbg.jpg);
    background-repeat: repeat-x;
    color: White;
    height: 26px;
}

.iframeBorder {
    border: solid 1px #52a3ef;
}

.menuArrow {
    background-image: url(../CollegeImages/arrowButton2.gif);
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.bulletArrow {
    background-image: url(../CollegeImages/bullet.png);
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
}

.exitLink {
    color: Blue;
    font-size: 16px;
    font-weight: bold;
    cursor: hand;
}

.dataLink {
    color: Blue;
    font-weight: bold;
    cursor: hand;
    text-decoration: underline;
}

.evenRow {
    background-color: White;
    color: Navy;
}

.datePicker {
    width: 100px;
}

.changebg {
    background-color: #ffcccc;
    color: Black;
}

.alertColor {
    background-color: #ffcccc;
    color: Black;
}

.optionBackground {
    background-color: #ecf8fb;
}

.floatingStyle {
    position: relative;
    background-color: #829dc0;
    top: 0px;
}

.dataTable {
    background-color: #ecf8fb;
    border-width: 1px;
    border-style: solid;
    border-color: #6fb6f2;
    font-size: 12px;
    width: 750px;
}

.tbl {
    width: 98%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    font-size: 12px;
}

    .tbl td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #003366;
    }

    .tbl th {
        padding: 4px 2px;
        color: #000000;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#99ccff');
        background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#9CF));
        background: -moz-linear-gradient(top,#FFF,#9CF);
        background: #99ccff;
        font-size: 0.9em;
        border: solid 2px #c1c1c1;
    }

.tblGray {
    width: 98%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    font-size: 12px;
}

    .tblGray td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #003366;
    }

    .tblGray th {
        padding: 4px 2px;
        color: #000000;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#cccccc');
        background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
        background: -moz-linear-gradient(top,#FFF,#9CF);
        background: #99ccff;
        font-size: 0.9em;
        border: solid 2px #c1c1c1;
    }

.buttonStyleSel {
    background-color: Blue;
    color: White;
}

.libcirbuttonStyle {
    background-color: #83c2fd;
    border-color: White;
    border-width: 1px;
    color: Maroon;
    font-weight: bold;
    border-style: outset;
    cursor: pointer;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.no-titlebar .ui-dialog-titlebar {
    display: none;
}

.editimage {
    background-image: url("../images/edit_small.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.deleteimage {
    background-image: url("../images/delete_small.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.viewimage {
    background-image: url("../images/view_small.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.cancelimage {
    background-image: url("../images/cancel.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.updateimage {
    background-image: url("../images/update_small.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.saveimage {
    background-image: url("../images/save_small.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.tickimage {
    background-image: url("../images/tick.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.crossimage {
    background-image: url("../images/cross.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.printimage {
    background-image: url("../images/print_small.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.downloadimage {
    background-image: url("../images/download.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}
.plusimage {
    background: url("../images/plus.jpg")  no-repeat;
    width: 16px;
    height: 16px;
}

.minusimage {
    background: url("../images/minus.jpg") no-repeat;
    width: 16px;
    height: 16px;
}
.plusimage,
.minusimage {
    width: 16px;
    height: 16px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.downloadimage-new {
    background-image: url("../images/download.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
}

.ui-accordion .ui-accordion-header {
    margin-top: 3px;
    text-align: left;
    padding-left: 20px;
    line-height: 25px;
}

.lightred {
    background-color: #ff6666;
}

.lightorange {
    background-color: #ffa64d;
}

.lightgreen {
    background-color: #00cc99;
}

.lightpurple {
    background-color: #cc66ff;
}

.lightred_1 {
    background-color: #fddcdc;
}

.lightorange_1 {
    background-color: #fceee0;
}

.lightgreen_1 {
    background-color: #e2f2ee;
}

.lightpurple_1 {
    background-color: #f2e0fb;
}

.examredcolor {
    font-size: 14px;
    color: red;
}

.exambluecolor {
    font-size: 14px;
    color: blue;
}

a.buttonAuto {
    background-color: #a6cef7;
    color: #2f2e2e;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

    a.buttonAuto:hover {
        background-color: #ccc7c7;
        color: #2f2e2e;
    }

    a.buttonAuto.active {
        background-color: #dc3545 !important;
        color: white !important;
    }

    a.buttonAuto.success {
        background-color: green;
        color: white;
    }

    a.buttonAuto.freeze {
        background-color: #f8924c;
        color: white;
    }

    a.buttonAuto.no-script {
        background-color: #bc4cf8;
        color: white;
    }

.nav-cust-menu {
    border: solid 1px #d0f0ff;
}

    .nav-cust-menu div {
        display: block;
        padding: 7px 5px;
        max-height: 600px;
        transition: all 0.3s ease;
        font-size: 11px;
        user-select: none;
    }
        .nav-cust-menu div:hover {
            display: block;
            background-color: var(--header-bg);
            cursor: pointer;
        }
       /* .nav-cust-menu div:hover {
            display: block;
            background-color: #83c2fd;
            cursor: pointer;
        }*/

        .nav-cust-menu div.active {
            background-color: lightsteelblue;
        }       

.panel-style {
    padding: 5px;
    border: solid 1px #d0f0ff;
    width: 100%;
}

.success {
    color: green;
}

.error {
    color: red;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}
.script-button-container-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    min-height: 150px;
    overflow-y: auto;
}
.script-button-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    min-height: 1750px;
    overflow-y: auto;
    flex-wrap: wrap;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 150px;
    text-align: center;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.16rem 0.4rem;
    font-size: 0.775rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    min-width: 100px;
}

.btn-xs {
    padding: 0.16rem 0.4rem;
    font-size: 0.775rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    min-width: 15px;
}

.btn-md {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 80px;
    text-align: center;
}

.btn-question {
    background-color: #ff6347;
    color: white;
}

.btn-key {
    background-color: #20b2aa;
    color: white;
}

.btn-scheme {
    background-color: #ff9900;
    color: white;
}

.btn-report {
    background-color: #9370db;
    color: white;
}

.btn-bundle {
    background-color: #3cb371;
    color: white;
}

.btn-save {
    display: block;
    box-sizing: border-box;
    background-color: #32cd32;
    color: white;
    width: 100% !important;
}
.btn-delete {
    display: block;
    box-sizing: border-box;
    background-color: #f35858;
    color: white;
    width: 100% !important;
}

.btn-freeze {
    display: block;
    box-sizing: border-box;
    background-color: #f8924c;
    color: white;
    width: 100% !important;
}

.btn-unfreeze {
    display: block;
    box-sizing: border-box;
    background-color: #1ab0ec;
    color: white;
    width: 100% !important;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-3px);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.btn i {
    margin-right: 8px;
}

.btn.disabled, .btn:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
}

.de-container {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 12px;
    background-color: #f4f0f0;
    align-items: flex-start;
    padding: 10px;
}

.pdf-viewer {
    height: 60vh;
    background-color: #f0f8ff;
    border: 1px solid #007b8f;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: scroll;
    width: 100%;
    text-align: center;
}
.pdf-viewer_rv {
    height: 600px;
    background-color: #f0f8ff;
    border: 1px solid #007b8f;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: scroll;
    width: 100%;
    text-align: center;
}

.pdf-viewer-student {
    height: 60vh;
    background-color: #f0f8ff;
    border: 1px solid #007b8f;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: scroll;
    width: 100%;
    text-align: center;
}

.exam-pattern {
    flex: 1;
    background-color: #fff0f0;
    border: 1px solid #e74c3c;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.td-hidden-evstaff {
    display: none;
}

.flex-evstaff {
    display: flex;
}

    .flex-evstaff > div {
        width: 100%;
        border: solid 1px #ccc;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: 5px;
        background-color: #e8f8ff;
        padding: 5px;
    }

.warning {
    padding: 5px 10px;
    color: #c52727;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 12px;
}

.flex-ba-tab-content {
    display: flex;
    border: solid 1px #e7e7e7;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

    .flex-ba-tab-content > * {
        margin: 0;
        align-self: center;
        line-height: normal;
    }

    .flex-ba-tab-content div span {
        font-size: 14px;
        font-weight: 600;
    }

.flex-emp {
    display: flex;
    flex-direction: column;
}

.flex-qps-fileupload {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

.tbldv {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

    .tbldv th {
        background-color: #4caf50;
        color: white;
        padding: 5px;
        text-align: center;
    }

    .tbldv td {
        border: 1px solid #ddd;
        padding: 5px;
        text-align: center;
        background-color: #f2f2f2;
    }

    .tbldv tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .tbldv tr:hover {
        background-color: #ddd;
    }

    .tbldv input[type="text"] {
        width: 50px;
        text-align: center;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

        .tbldv input[type="text"]:focus {
            border: 2px solid #4caf50;
        }

.tbl {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

    .tbl th {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        text-align: center;
    }

    .tbl td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    .tbl tr:nth-child(even) {
        background-color: #f2f2f2;
    }

   /* .tbl tr:hover {
        background-color: #ddd;
    }*/

    .tbl input[type="text"] {
        width: 50px;
        text-align: center;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

        .tbl input[type="text"]:focus {
            border: 2px solid #4caf50;
        }

.tbltotal {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0;
}

    .tbltotal th {
        background-color: #ff851b;
        color: white;
        padding: 10px;
        text-align: center;
    }

    .tbltotal td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    .tbltotal input[type="text"] {
        width: 50px;
        text-align: center;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #13ce5b;
    }


img.active-save {
    border: 2px solid green;
    padding: 2px;
    cursor: pointer;
    background-color: #eaffea;
}

.img-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.search-input {
    max-width: 80%;
}

    .search-input:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0,123,255,0.2);
    }

.mask-circle {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    z-index: 999;
}

.branch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: solid 1px #f3f3f3;
}

.branch-box {
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
}

.sections {
    display: flex;
    flex-wrap: wrap;
}


.panel-style {
    padding: 5px;
    border: solid 1px #d0f0ff;
    width: 100%;
    background-color: #e8f8ff;
    margin: 5px;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 1190px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.flex-item {
    padding: 6px 5px;
    border: 1px solid grey;
    text-align: center;
    margin: 5px;
    width: 150px;
}

.tblmenuitem tr td, th {
    padding: 5px;
}

.menu-align-center {
    text-align: center;
    vertical-align: middle;
    height: 100px;
    background-color: #89c4ff;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
}

#leftPanel {
    width: 220px;
    background: #89c4ff;
    transition: width 0.3s ease;
}

#content {
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 10px;
    overflow: auto;
}

#toggleButton {
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 8px 12px;
    background: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: white;
        left: 4px;
        bottom: 4px;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #4caf50;
}

    input:checked + .slider::before {
        transform: translateX(26px);
    }
.toggle-off {
    background-color: #ccc; /* example */
    opacity: 0.6;
}
.navbar {
    color: White;
    background-color: #6d9add;
    font-size: 10px;
    background-color: #abd3f9;
}

.searchlink, .searchlink:hover {
    color: #545454;
    text-decoration: none;
    font-size: 10px;
}

.menuButton {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #0078d7;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
    .menuButton.active {
        color: #fff;
        background-color: #ff0000 !important;
    }

.flatIconButton {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 999px;
    padding: 6px 14px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

    .flatIconButton .material-icons {
        font-size: 18px;
        color: #555;
    }

    .flatIconButton:hover {
        background-color: #f6f6f6;
        border-color: #ccc;
    }

    .flatIconButton:active {
        background-color: #eaeaea;
    }

.button-bar {
    display: flex;
    gap: 10px;
}

.topMenuLink {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #bfd5fa;
    border-radius: 20px;
    background-color: #eaf2ff;
    color: #5a5555 !important;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.2s ease;
}

    .topMenuLink:hover:not(.selected) {
        background-color: #f2f2f2;
        border-color: #bcbcbc;
color:#000;
    }

 
    .topMenuLink.freeze {
        background-color: #3a9d03;
        color: white !important;
        border-color: #307e05;
    }
   .topMenuLink.selected {
        background-color: #007bff;
        color: white !important;
        border-color: #007bff;
    }

.popup {
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
}

.hidden {
    display: none;
}
.popupTable-fbox {
      width: 100%;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ecf8fb;
    border: solid 1px #6fb6f2;
    /* font-size: 12px; */
    justify-content: space-between;
}

    .popupTable-fbox .item {
        flex: 0 0 32%;
        max-width: 32%;
        box-sizing: border-box;
        padding: 3px;
        border: 1px solid #eae8e8;
        display: flex;
        align-items: center;
        gap: 3px;
        /* flex: 0 0 33.333%;
        max-width: 33.333%;
        box-sizing: border-box;
        padding: 3px 6px;
        display: flex;
        align-items: center;
        gap: 4px;
        white-space: normal;
        overflow-wrap: break-word;*/
    }

#tblpopuptable tr:hover {
    background-color: #fff8f0;
    cursor: pointer;
    border-color: #007bff; 
}
.div-summary {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #daf4ff;
    display: flex;
    border: solid 1px #cce2eb;
    align-items: center;
    justify-content: space-between;
    
}
.summary-item {
    border: solid 1px #ef8634;
    background-color: #f9a766;
    color: white;
    padding: 5px 10px;
}
.panel {
    border: 1px solid #4a4a4a;
    width: 400px;
}

.panel-header {
    background: #007bff;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
}

.panel-body {
    padding: 12px;
}
.box {
    border: 1px solid #dcdcdc;
    min-width: 450px;
    width:100%;
    background: #fafafa;
    border-radius: 6px;
}

.box-title {
    background: #e9eef5;
    color: #333;
    padding: 4px 6px;
    font-weight: 600;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 6px 6px 0 0;
}
.box-content {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #444;
}
.box-title-nbg {
    color: #333;
    padding: 4px 6px;
    font-weight: 600;
}
.exam-scrutiny-barcode {
    background-color: #3499ef;
    font-weight: 700;
    color: #e1effb;
    font-size: 12px;
    cursor: pointer;
}
    .exam-scrutiny-barcode.visited {
        background-color: #349b14;
    }

    .exam-scrutiny-barcode.modified {
        background-color: #ef8634;
    }

    .exam-scrutiny-barcode:hover {
        background-color: #3494e5;
        color: #f0dede;
    }
.grid-controls {
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*******************************************************************

 adding CE, Scrutinizer screen 
************************************************************************/
.exam-scrutiny {
    font-weight: 700;
    color: #1ab0ec;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
}


    .exam-scrutiny > div {
        font-weight: normal; /* reset */
        color: initial; /* reset */
    }
.row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* text left, icon right */
    flex-wrap: nowrap; 
    white-space: nowrap; /* prevents text wrap */
}

.text {
    overflow: hidden;
    text-overflow: ellipsis; /* optional */
}

.delete {
    flex-shrink: 0; /* prevents icon from moving */
    margin-left: 8px;
    cursor: pointer;
    color: #dc2626;
}
.alert-primary {
    color: #052c65;
    background-color: #cfe2ff;
    border: solid 1px #9ec5fe;
}
.grade-box {
    border-collapse: collapse;
    border: solid 1px #ffe69c;
    background-color: #fff3cd;
    color: #664d03;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
}
.grade-point-box {
    border-collapse: collapse;
    border: solid 1px #9eeaf9;
    background-color: #cff4fc;
    color: #055160;
    padding: 10px;
    font-size: 13px;
    font-weight:700;
}
.tblgr {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

    
    .tblgr > thead > tr > th {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    
    .tblgr > tbody > tr > td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }
    .tbl-grade-box tbody tr td {      
        padding: 10px;      
    }
.res-box {
    border: 1px solid #c4c8cb;
    padding: 10px;
    background-color: #e2e3e5;
}
.res-box-green {
    padding: 10px;
    color: #052c65;
    background-color: #d1e7dd;
    border: solid 1px #a3cfbb;    
}
tr.active-row td:not(:last-child) {
    border-bottom: 2px solid #9ec5fe !important;
}
/*tr.active-row td:last-child {
    border-bottom: 2px solid #cfe2ff !important;
}*/

td.button-cell.active {
    border-top: 2px solid #9ec5fe;
    border-left: 2px solid #9ec5fe;
    border-right: 2px solid #9ec5fe;
    border-bottom: 2px solid #cfe2ff;
    background-color: #cfe2ff;
}




